/* GENERAL STYLES */
/* ----------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
    background-color: rgb(43, 43, 194);
}

/* HEADER STYLES */
/* ----------------------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    margin-bottom: 40px;
    padding: 7px 3%;
}

/* TEXT STYLES */
/* ----------------------------------------------------------------------- */
p,
h3 {
    text-align: center;
    margin-top: 5px;
}

/* CENTERING STYLES */
/* ----------------------------------------------------------------------- */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INPUT STYLES */
/* ----------------------------------------------------------------------- */
.initial-input,
.submit {
    width: 40%;
    height: 30px;
    margin: 10px 30% 0;
    text-align: center;
}

/* HIGH SCORE STYLES */
/* ----------------------------------------------------------------------- */
#highScore {
    text-decoration: underline;
}

#scoreBoard {
    font-weight: bold;
    text-decoration: solid;
}

/* TIMER STYLES */
/* ----------------------------------------------------------------------- */
.timer {
    display: flex;
}

.timer h2 {
    margin-right: 5px;
}

/* UI CONTAINING STYLES */
/* ----------------------------------------------------------------------- */
#ui {
    background-color: rgb(245, 245, 245);
    width: 70%;
    height: fit-content;
    margin: 10px auto 0;
    border-radius: 10px;
    padding: 30px;
}

/* QUESTION STYLES */
/* ----------------------------------------------------------------------- */
#question {
    text-align: center;
}

/* BUTTON STYLES */
/* ----------------------------------------------------------------------- */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px auto 0;
    height: 60px;
    border-radius: 10px;
    color: black;
    border-color: black;
    font-size: medium;
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}

/* BUTTON HOVER STYLES */
/* ----------------------------------------------------------------------- */
button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
